[Unit]
Description=telnet echo service

[Service]
ExecStart=/usr/bin/telnetecho
Sockets=telnetecho.socket
StandardInput=socket
StandardOutput=syslog
StandardError=syslog
